.Error { background-position:  -0px -0px; height: 160px; width: 160px; }
.icon_cog { background-position:  -0px -162px; height: 16px; width: 16px; }
.icon_ext1 { background-position:  -18px -162px; height: 16px; width: 16px; }
.icon_ext2 { background-position:  -36px -162px; height: 16px; width: 16px; }
.icon_help { background-position:  -54px -162px; height: 16px; width: 16px; }
.icon_info { background-position:  -72px -162px; height: 16px; width: 16px; }
.icon_warning { background-position:  -90px -162px; height: 16px; width: 16px; }
.Inspector { background-position:  -162px -0px; height: 742px; width: 354px; }
.PBS_RampSmooth_M01A01 { background-position:  -0px -180px; height: 160px; width: 160px; }
.PBS_RampSmooth_M01A10 { background-position:  -0px -342px; height: 160px; width: 160px; }
.PBS_RampSmooth_M10A01 { background-position:  -0px -504px; height: 160px; width: 160px; }
.PBS_StylizedFresnel_Off { background-position:  -0px -666px; height: 160px; width: 160px; }
.PBS_StylizedFresnel_On { background-position:  -0px -828px; height: 160px; width: 160px; }
.PBS_StylizedSpecular_Hybrid { background-position:  -0px -990px; height: 160px; width: 160px; }
.PBS_StylizedSpecular_Off { background-position:  -0px -1152px; height: 160px; width: 160px; }
.PBS_StylizedSpecular_On { background-position:  -0px -1314px; height: 160px; width: 160px; }
.RampGenerator { background-position:  -518px -0px; height: 166px; width: 368px; }
.SG10_Alpha { background-position:  -162px -744px; height: 160px; width: 160px; }
.SG11_Alpha { background-position:  -324px -744px; height: 160px; width: 160px; }
.SG12_DirAmb { background-position:  -162px -906px; height: 160px; width: 160px; }
.SG13_Subsurface { background-position:  -324px -906px; height: 160px; width: 160px; }
.SG14_DiffTint { background-position:  -162px -1068px; height: 160px; width: 160px; }
.SG14_DiffTint_1 { background-position:  -324px -1068px; height: 160px; width: 160px; }
.SG1_TexThr_1 { background-position:  -162px -1230px; height: 160px; width: 160px; }
.SG1_TexThr_2 { background-position:  -324px -1230px; height: 160px; width: 160px; }
.SG1_TexThr_2tex { background-position:  -888px -0px; height: 160px; width: 160px; }
.SG1_TexThr_3 { background-position:  -1050px -0px; height: 160px; width: 160px; }
.SG1_TexThr_3tex { background-position:  -1212px -0px; height: 160px; width: 160px; }
.SG2_DetailTex { background-position:  -1374px -0px; height: 160px; width: 160px; }
.SG3_VColors { background-position:  -1536px -0px; height: 160px; width: 160px; }
.SG4_VColBlend { background-position:  -1698px -0px; height: 160px; width: 160px; }
.SG5_SelfIllumin { background-position:  -518px -168px; height: 160px; width: 160px; }
.SG5_SelfIllumin2 { background-position:  -518px -330px; height: 160px; width: 160px; }
.SG6b_Spec { background-position:  -518px -492px; height: 160px; width: 160px; }
.SG6_IndShadows { background-position:  -518px -654px; height: 160px; width: 160px; }
.SG6_IndShadows_2 { background-position:  -518px -816px; height: 160px; width: 160px; }
.SG7_Refl { background-position:  -518px -978px; height: 160px; width: 160px; }
.SG7_Refl_2 { background-position:  -518px -1140px; height: 160px; width: 160px; }
.SG8_Amb { background-position:  -518px -1302px; height: 160px; width: 160px; }
.SG9_Sketch { background-position:  -680px -168px; height: 160px; width: 160px; }
.SG9_Sketch_2 { background-position:  -842px -168px; height: 160px; width: 160px; }
.SG9_Sketch_3 { background-position:  -1004px -168px; height: 160px; width: 160px; }
.SG9_Sketch_4 { background-position:  -1166px -168px; height: 160px; width: 160px; }
.SG9_Sketch_5 { background-position:  -1328px -168px; height: 160px; width: 160px; }
.SNormalsCube_1 { background-position:  -680px -330px; height: 220px; width: 220px; }
.SNormalsCube_2 { background-position:  -680px -552px; height: 220px; width: 220px; }
.SphDiffuse { background-position:  -1490px -168px; height: 160px; width: 160px; }
.SphTCP2 { background-position:  -1652px -168px; height: 160px; width: 160px; }
.SphTCP2_BumpRim { background-position:  -1814px -168px; height: 160px; width: 160px; }
.SphTCP2_DetailHalftone { background-position:  -680px -774px; height: 160px; width: 160px; }
.SphTCP2_HardLine { background-position:  -680px -936px; height: 160px; width: 160px; }
.SphTCP2_Ramp { background-position:  -680px -1098px; height: 160px; width: 160px; }
.SphTCP2_RimRefl { background-position:  -680px -1260px; height: 160px; width: 160px; }
.SphTCP2_SketchOutline { background-position:  -902px -330px; height: 160px; width: 160px; }
.SphTCP2_TexturedRamp { background-position:  -1064px -330px; height: 160px; width: 160px; }
.US1_Color_A { background-position:  -1226px -330px; height: 160px; width: 160px; }
.US1_Color_B { background-position:  -1388px -330px; height: 160px; width: 160px; }
.US1_Color_C { background-position:  -1550px -330px; height: 160px; width: 160px; }
.US1_Color_D { background-position:  -1712px -330px; height: 160px; width: 160px; }
.US2_Ramp_p3p5 { background-position:  -902px -492px; height: 160px; width: 160px; }
.US2_Ramp_p5p1 { background-position:  -902px -654px; height: 160px; width: 160px; }
.US2_Ramp_p75p01 { background-position:  -902px -816px; height: 160px; width: 160px; }
.US2_Ramp_t1 { background-position:  -902px -978px; height: 160px; width: 160px; }
.US2_Ramp_t2 { background-position:  -902px -1140px; height: 160px; width: 160px; }
.US2_Ramp_t3 { background-position:  -902px -1302px; height: 160px; width: 160px; }
.US3_Bump { background-position:  -1064px -492px; height: 160px; width: 160px; }
.US3_Bump_2 { background-position:  -1226px -492px; height: 160px; width: 160px; }
.US4_Spec_s1 { background-position:  -1388px -492px; height: 160px; width: 160px; }
.US4_Spec_s1s1 { background-position:  -1550px -492px; height: 160px; width: 160px; }
.US5b_MatCap { background-position:  -1712px -492px; height: 160px; width: 160px; }
.US5b_MatCapTex { background-position:  -1064px -654px; height: 160px; width: 160px; }
.US5b_MatCapTex_2 { background-position:  -1064px -816px; height: 160px; width: 160px; }
.US5b_MatCap_2 { background-position:  -1064px -978px; height: 160px; width: 160px; }
.US5_Refl { background-position:  -1064px -1140px; height: 160px; width: 160px; }
.US5_Refl_2 { background-position:  -1064px -1302px; height: 160px; width: 160px; }
.US6_Rim { background-position:  -1226px -654px; height: 160px; width: 160px; }
.US6_Rim_2 { background-position:  -1388px -654px; height: 160px; width: 160px; }
.US6_Rim_3 { background-position:  -1550px -654px; height: 160px; width: 160px; }
.US6_Rim_4 { background-position:  -1712px -654px; height: 160px; width: 160px; }
.US6_Rim_5 { background-position:  -1226px -816px; height: 160px; width: 160px; }
.US7_Outline_1 { background-position:  -1226px -978px; height: 160px; width: 160px; }
.US7_Outline_2 { background-position:  -1226px -1140px; height: 160px; width: 160px; }
.US7_Outline_3 { background-position:  -1226px -1302px; height: 160px; width: 160px; }
.US8_LightmapTCP2 { background-position:  -1388px -816px; height: 300px; width: 300px; }
.US8_LightmapUnity { background-position:  -1690px -816px; height: 300px; width: 300px; }
.US9_Wrapped_Diffuse_1 { background-position:  -1388px -1118px; height: 160px; width: 160px; }
.US9_Wrapped_Diffuse_2 { background-position:  -1388px -1280px; height: 160px; width: 160px; }
